<div class="select-group">
    <label class="select-label"> {{ label }} </label>

    <div class="select-wrapper">
        @if (formField) {
            <select class="select" (change)="handleChange($event)" [formField]="formField">
                @for (item of options; track $index) {
                    <option [value]="item.value">{{ item.label }}</option>
                }
            </select>
        } @else {
            <select
                class="select"
                [ngModel]="value"
                (ngModelChange)="handleChange($event)"
                [disabled]="disabled"
            >
                @for (item of options; track $index) {
                    <option [ngValue]="item.value">{{ item.label }}</option>
                }
            </select>
        }
    </div>

    <p class="select-hint">{{ description }}</p>
</div>
