<div class="modal-overlay">
    <div class="modal">
        <h2 class="modal-title">Details</h2>

        <app-text-input
            [value]="addKeyData().name"
            placeholder="Name"
            label="Name"
            [disabled]="true"
        ></app-text-input>

        <div class="flex gap-2 mb-3">
            <app-checkbox
                [checked]="!addKeyData().expired"
                label="Active"
                [disabled]="true"
            ></app-checkbox>

            <app-checkbox
                [checked]="addKeyData().scope.includes('*')"
                label="Full Access"
                [disabled]="true"
            ></app-checkbox>
        </div>

        <app-date label="Expiration" [value]="addKeyData().expiration" [disabled]="true"></app-date>

        <div class="modal-actions">
            <app-button (click)="close()"> Cancel </app-button>
        </div>
    </div>
</div>
