<div class="page">
    <div class="container">
        <!-- Header -->
        <div class="header">
            <h1 class="title">Access Keys</h1>

            <app-button (click)="openCreateModal(true)" status="primary"> + Create New </app-button>
        </div>

        <!-- List -->
        <div class="card">
            @for (item of buckets(); track $index) {
                <div class="list-item">
                    <div class="item-info">
                        <!-- NAME -->
                        <p class="item-name">
                            {{ item.globalAliases.join(', ') || 'N/A' }}
                        </p>

                        <!-- ID -->
                        <p class="item-id">ID: {{ item.id || 'N/A' }}</p>

                        <!-- CREATED -->
                        <p class="item-id">Created: {{ item.created || 'N/A' }}</p>

                        <!-- CONDITIONAL FIELDS -->
                        <p class="item-id">
                            Global Aliases: {{ item.globalAliases.join(', ') || 'N/A' }}
                        </p>

                        <p class="item-id">
                            Local Aliases: {{ item.localAliases.join(', ') || 'N/A' }}
                        </p>
                    </div>

                    <!-- ACTIONS -->
                    <div class="actions">
                        @if (item.created) {
                            <app-button (click)="showViewDetail(item)" status="warning">
                                Detail
                            </app-button>
                            <app-button (click)="confirmDelete(item)" status="danger">
                                Delete
                            </app-button>
                        }
                    </div>
                </div>
            }
        </div>
    </div>

    @if (showCreate()) {
        <app-create-bucket (closeModal)="openCreateModal($event)"></app-create-bucket>
    }

    @if (detailsId) {
        <app-bucket-details [id]="detailsId" (closeModal)="showViewDetail()"></app-bucket-details>
    }

    @if (deleteId) {
        <app-question-cancel-dialog
            (close)="confirmDelete()"
            (confirm)="delete()"
            [isSuccess]="false"
            [message]="'delete'"
            [title]="'delete'"
        ></app-question-cancel-dialog>
    }
</div>
